.hero-section {
    min-height: 100vh; 
    background-image: url('tausta.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    border-bottom: 5px solid #000;
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1;
}

header {
    background-color: #111827 !important; 
    opacity: 1 !important;
    backdrop-filter: none !important;
}

